body {
  background-color: #023061;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
h1 {
  color:#c7c400;
  text-align: center;
}

.assign {
  margin: 10px;
  padding: 10px;
  background-color: #011b36;
  display: flex;
  border-radius: 20px;
}
.assign img {
  width: 500px;
  padding: 10px;
  border: 10px #e93baf;
}
a {
  text-decoration: none;
  color: #00d51d;
}
a:hover {
  text-decoration: none;
  color: #c7c400;
}
p {
  color: #5dbcd2;
}
h2 {
  color: #B63A3A;
}